.tooltip {
    position: relative;
    display: inline;
}
.tooltip .tooltiptext {
    font-size: 12px;
    visibility: hidden;
    width: auto;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: -30px;
    transform: translate(-50px);
    opacity: 0;
    left: 50%;
    transition: opacity 0.3s;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.icons {
    margin-left: 5rem !important;
    font-size: 24px;
}